extends layout

block content
  .head
    .row-fluid
      .span12
        .span6
          h1.muted= title
        .span4.offset2(style='margin-top: 15px;')
          button.btn.pull-right(type='button') Sign In
    .navbar
      .navbar-inner
        .container
          ul.nav
            li
              a(href='#') Nav1
            li
              a(href='#') Nav2
            li
              a(href='#') Nav3
            li
              a(href='#') Nav4
